.event-title {
    text-align: center;
    color: #A7412B;
    margin: 2%;
    padding: 1%;
    font-size: 30px;
}

.event-image {
    background-image: url("/images/pink_waves.jpg");
    height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.float-right {
    float: right;
    margin-right:30px;
    margin-left: 30px;
}

.row-highlight {
    background-color: #CD5C5C !important;
}
