.edit-event {
    background-image: url("/images/pink_waves.jpg");
    height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.edit-heading {
    text-align: center;
}

.edit-link {
     text-align: center;
     margin: 15px;
}

.center-container {
    flex-direction: column;
    align-items: center;
    display: flex; 
}

.home-image {
    background-image: url("/images/pink_waves.jpg");
    height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    }