.home-image {
    background-image: url("/images/pink_waves.jpg");
    height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    }

.login-links {
    text-align: center
}

.login-title {
    text-align: center;
    margin: 6%;
    padding: 3%;
    font-size: 30px;
    color: #A7412B;
}