footer {
    /* margin-top: 180px; */
    background-color: #A7412B; 
    text-align: center;
    /* padding: 2%;  */
    padding: 1rem;
  
}

/* #App-Footer {
    padding: 1rem;
    background-color: #A7412B; 
    text-align: center;
   
}  */
