
.new-event-image {
    background-image: url("/images/pink_waves.jpg");
    height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    }

.align-center {
    text-align: center;
}

.float-right {
    float: right;
    margin-right:50px;
}

.clear-both {
    clear:both;
}