.new-event-image {
    background-image: url("/images/pink_waves.jpg");
    height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    }

.my-title {
    text-align: center;
    color: #A7412B;
    margin: 1.5%;
    padding: 2%;
    font-size: 30px;
}

.align-center {
    text-align: center;
}

.my-event-button {
    float: right;
    margin-right:50px;
    margin-top:140px;
}